/* CSS Reset  */
*{
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
/* NAVIGATION BAR */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top:0px;
    /* margin-top: opx; */
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 201%;
    width: 100%;
    z-index: -1;
    opacity:0.4;
}

/* NAVIGATION BAR : logo and images  */

#logo {
margin: 10px 34px;
}

#logo img {
    margin: 7px 6px;
    height: 56px;
    border-radius: 23px;
}
.logo12{
height: 160px;

}

/* NAVIGATION BAR .:list styling  */

#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Lobster', cursive;
}
#navbar ul li a{
    color: white;
    display: block;
    padding:7px;
    margin:3px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.7rem;
}
#navbar ul li a:hover{
    color:black;
   background-color: white;
}

/* #home section  */

#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 99px;
    align-items: center;
    margin-top:40px;
    justify-content: center;
}
#home::before{
    content: "";
    position: absolute;
    background:url('table.jpg') no-repeat center center/cover;
    height: 678px;
    width:100%;
    z-index: -1;
    opacity:0.8;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
}

/* services section  */

#services{
    margin:-5px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 16px ;
    margin: 21px;
    border-radius: 23px;
    background-color: rgb(245, 239, 239);
}
#services .box img{
    height: 156px;
    display: block;
    margin: auto;

}
.img1{
    border-radius: 61px;
}
/* clients section  */
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#client-section::before{
content:"";
position: absolute;
height: 54%;
width:100%;
background: url('background.jpg') no-repeat center center/cover;
z-index: -1;
opacity: 0.4;
}
#clients img{
    height:98px;
    padding: 21px;
}
.h-primary3{
    margin-top:19px;
    font-size: 3.8rem;
    padding: 12px;
}
/* contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('contact\ us1.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.3;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px;
    
}

#contact-box input , #contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    margin: 9px;
}

#contact-box form{
width:40%;
    
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Teko', sans-serif;
}
.h-primary4{
    font-size: 3.8rem;
    padding: 12px;
    margin-top: 25px;
}

/* footer  */
footer{
    background: black;
    padding: 5px 12px;
    color: white;
}

/* utility classes */

.h-primary{
  font-size: 2.9rem;
  padding: 12px;
  margin-top: 290px;
}
.h-primary1{
    font-size: 3.8rem;
    padding: 12px;
    margin-top: 178px;
  }
.h-secondary{
    font-size: 28px;
    padding: 3px;
  }
  .center{
      text-align: center;
      font-family: 'Teko', sans-serif;
  }
.btn{
    padding:6px 12px;
    border:2px solid white;
    background-color:rgb(247, 177, 177);
    margin:17px;
    border-radius: 10px;
    color:white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0s ease-in-out 0s;
}
.btn:hover{
    color:aqua;
    background-color: rgb(87, 86, 86);
    width:140px;
    height:60px;
    font-size: 1.4rem;
    
}